<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register_User</servlet-name>
        <servlet-class>servlet.Register_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_User</servlet-name>
        <servlet-class>servlet.Login_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Room</servlet-name>
        <servlet-class>servlet.Add_Room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprofilepic</servlet-name>
        <servlet-class>servlet.updateprofilepic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addroompic</servlet-name>
        <servlet-class>servlet.addroompic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register_User</servlet-name>
        <url-pattern>/Register_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_User</servlet-name>
        <url-pattern>/Login_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Room</servlet-name>
        <url-pattern>/Add_Room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprofilepic</servlet-name>
        <url-pattern>/updateprofilepic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addroompic</servlet-name>
        <url-pattern>/addroompic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
